{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="main">
            <div id="header">
              <div id="logo">
                <div id="logo_text">
                  <!-- class="logo_colour", allows you to change the colour of the text -->
                  <h1><a id="titulo" href="{% url 'index' %}">Aperture<span class="logo_colour">Science</span></a></h1>
                  <h2>We do what we must... because we can</h2>
                </div>
              </div>
              <div id="menubar">
                <ul id="menu">
                  <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                  <li id="menuHome"><a href="{% url 'index' %}">Home</a></li>
                  <li id="menuProductos"><a href="{% url 'productsList' %}">Productos</a></li>
                  <li id="menuSujetos"><a href="{% url 'testSubjectsList' %}">Sujetos de prueba</a></li>
                  <li id="menuPruebas"><a href="{% url 'experimentList' %}">Pruebas</a></li>
                  <li><a href="https://www.fcbarcelona.es/es/" target="_blank">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div id="site_content">
                {% block contenido %}
                {% endblock %}
            </div>
            <div id="footer">
                Copyright &copy; Aperture Science | <a target="_blank" href="https://store.steampowered.com/app/400/Portal/">PORTAL</a> | <a target="_blank" href="https://store.steampowered.com/app/620/Portal_2/">PORTAL 2</a>
            </div>
        </div>
    </body>
    {% block scripts %}
    {% endblock %}
</html>

