{% extends "base.html" %}
{% load static %}

        {% block head %}
            <link rel="stylesheet" href="{% static 'style/experimentList.css' %}">
            <title>Pruebas</title>
        {% endblock %}

        {% block contenido %}
        <h1>Pruebas</h1>
        <div id="pruebas">
            {% for experiment in experiments %}
            <div class="prueba">
                <div class="contenedorImagenPrueba">
                    <a href="{% url 'experimentDetail' experiment.pk %}"><img class="imagenPrueba" src="{{experiment.image}}" alt="{{experiment.name}}"></a>
                </div>
                <div class="descripcionPrueba">
                    <a class="linkPrueba" href="{% url 'experimentDetail' experiment.pk %}">{{experiment.name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}