{% extends "base.html" %}
        {% block contenido %}
        <h2>{{ experiment.name }}</h2>
        <img src="{{ experiment.image }}" alt="{{ experiment.name }}"></img>
        <p>Descripción: {{ experiment.description }}</p>
        <p>Porcentaje de éxito: {{ successPercentaje }}%</p>
        <p>Producto: {{ experiment.products }}</p> <!-- Esto tiene que ser un link -->
        <p>Participantes:</p>
        <ul>
            {% for testSubject in experiment.testSubjects.all %}
                <li><a href="{% url 'testSubjectDetail' testSubject.pk %}">{{ testSubject.name }} {{ testSubject.surname }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>
        {% endblock %}