<!DOCTYPE html>
<html>
    <head>
        <title>{{ experiment.name }}</title>
    </head>
    <body>
        <h2>{{ experiment.name }}</h2>
        <p>Descripción: {{ experiment.description }}</p>
        <p>Porcentaje de éxito: {{ successPercentaje }}%</p>
        <p>Participantes:</p>
        <ul>
            {% for testSubject in experiment.testSubjects.all %}
                <li><a href="{% url 'testSubjectDetail' testSubject.pk %}">{{ testSubject.name }} {{ testSubject.surname }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <br>
        <a href = "{% url 'index' %}">Volver al inicio</a>

    </body>

</html>