{% extends "base.html" %}

{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'style/home.css' %}">
    {% endblock %}

      {% block contenido %}
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>August 1st, 2013</h5>
        <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>August 1st, 2013</h5>
        <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      
      <div id="content">
        
        <h1>Bienvenido a Aperture Science</h1>
        <p>Aperture Science es una empresa de desarrollo de productos tecnológicos. Es líder en 
          el desarrollo de tecnologías avanzadas y soluciones científicas aplicadas a los problemas 
          más complejos del universo. Desde su fundación, la empresa ha revolucionado la ciencia con 
          productos únicos, diseñados tanto para investigación avanzada como para innovación en el 
          campo del entretenimiento científico. Entre nuestros productos más destacados se encuentran
          la pistola de portales, el cubo de compañía, GLaDOS, los geles de propulsión y de repulsión 
          y las torretas autónomas.
        </p>
        <p>En Aperture Science, cada producto es una prueba de nuestra misión de desafiar los límites 
          de la ciencia y llevar la innovación a lugares inimaginables. "No preguntes por qué, pregunta 
          por qué no" es el espíritu que guía cada uno de nuestros desarrollos, haciendo de nuestras 
          instalaciones el lugar perfecto para que la ciencia y la curiosidad se encuentren en un solo destino.
        </p>

        <h2>Browser Compatibility</h2>
        <p>This template has been tested in the following browsers:</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Google Chrome 6</li>
        </ul>
      </div>
      {% endblock %}

