{% extends "base.html" %}

{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'style/home.css' %}">
    {% endblock %}

      {% block contenido %}
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Últimas noticias</h3>
        <h4>Nuevo Producto</h4>
        <h5>9 de diciembre de 2024</h5>
        <div id="nuevoProducto">
          <div id="divImagenTorreta">
            <img id="imagenTorreta" src="{% static 'style/SentryTurret.png' %}" alt="Sentry Turret">
          </div>
          <div id="divNombreTorreta">            
            <p id="nombreTorreta">Sentry Turret</p>
          </div>
        </div>
        <p></p>
        <h4>La IA se apodera de Aperture Science</h4>
        <h5>10 de diciembre de 2024</h5>
        <p>Una Inteligencia Artficial programada en un nucleo de personalidad
          conocida como Wheatley ha tomado el control de las instalaciones 
          de Aperture Science y ha empezado a realizar experimentos con distintos
          sujetos de prueba.
        </p>
      </div>
      
      <div id="content">
        
        <h1>Bienvenido a Aperture Science</h1>
        <p>Aperture Science es una empresa de desarrollo de productos tecnológicos. Es líder en 
          el desarrollo de tecnologías avanzadas y soluciones científicas aplicadas a los problemas 
          más complejos del universo. Desde su fundación, la empresa ha revolucionado la ciencia con 
          productos únicos, diseñados tanto para investigación avanzada como para innovación en el 
          campo del entretenimiento científico.
        </p>
        <p>En Aperture Science, cada producto es una prueba de nuestra misión de desafiar los límites 
          de la ciencia y llevar la innovación a lugares inimaginables. "No preguntes por qué, pregunta 
          por qué no" es el espíritu que guía cada uno de nuestros desarrollos, haciendo de nuestras 
          instalaciones el lugar perfecto para que la ciencia y la curiosidad se encuentren en un solo destino.
        </p>

        <h1>Preguntas frecuentes</h1>
        <ul>
          <li class="faq">¿Qué debo hacer si encuentro un problema con la prueba?</li>
          <p>Si encuentras un problema, por favor repórtalo a GLaDOS. Ella seguramente lo resolverá... o te culpará de forma pasivo-agresiva. Ambas son respuestas válidas.</p>
          <li class="faq">¿La tarta es real?</li>
          <p>Sí, por supuesto. Está reservado para los sujetos de prueba que completen con éxito todas las cámaras. Cualquier afirmación de lo contrario es una prueba más.</p>
          <li class="faq">¿Es seguro trabajar en Aperture Science?</li>
          <p>Absolutamente. Según nuestras métricas internas, más del 70% de los empleados sobrevivieron a los experimentos del último trimestre. ¡Ven preparado para aprender y crecer!</p>
        </ul>

      </div>
      {% endblock %}

