<!DOCTYPE html>
<html>
    <head>
        <title>Aperture science</title>
    </head>
    <body>
        <h1>APERTURE SCIENCE</h1>
        <h2>We do what we must because we can</h2>
        <h5>Servicio avanzado de control y asignación de pruebas de Aperture Science</h5>
        <ul>
            <li><a href="{% url 'productsList'%}">Productos</a></li>
            <li><a href="{% url 'experimentosLista'%}">Pruebas</a></li>
            <li><a href="{% url 'testSubjectsList'%}">Sujetos de prueba</a></li>
        </ul>
    </body>
</html>