{% extends "base.html" %}
        {% block contenido %}
        <h1>Productos</h1>
        <div id="productos">
            {% for product in products %}
            <div id="producto">
                <div id="contenedorImagenProducto">
                    <a href="{% url 'productDetail' product.pk %}"><img id="imagenProducto" src="{{product.image}}" alt="{{product.name}}"></a>
                </div>
                <div id="descripcionProducto">
                    <a id="linkProducto" href = "{% url 'productDetail' product.pk %}">{{product.name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}