{% extends "base.html" %}

{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'style/productList.css' %}">
        <title>Productos</title>
    {% endblock %}
       
    {% block contenido %}
        <h1>Productos</h1>
        <div id="productos">
            {% for product in products %}
            <div class="producto">
                <div class="contenedorImagenProducto">
                    <a href="{% url 'productDetail' product.pk %}"><img class="imagenProducto" src="{{product.image}}" alt="{{product.name}}"></a>
                </div>
                <div class="descripcionProducto">
                    <a class="linkProducto" href = "{% url 'productDetail' product.pk %}">{{product.name}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}