{% extends "base.html" %}
            {% load static %}
            {% block contenido %}
            <h2>{{product.pk}} - {{product.name}}</h2>
            <img src="{{product.image}}"></img> <!-- Falta alt y tamaño-->
            <p>Descripción: {{product.description}}</p>
            <p id="precio">{{product.price}}</p>
            <p>Versión: {{product.version}}</p>
            <p>Pruebas relacionadas: </p>
            <ul>
                {% for experiment in product.experiments.all %}
                    <li><a href="{% url 'experimentDetail' experiment.pk %}">{{experiment.name}}</a></li>
                {% endfor %}
            </ul>
            {% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/prueba.js' %}"></script>
{% endblock %}