{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sujetos de prueba</title>
    </head>
    <body>
        {% block contenido %}
        <h1>Sujetos de prueba:</h1>
        <div id="sujetos">
            {% for testSubject in testSubjects %}
                <div id="sujetoPrueba">
                    <div id="contenedorImagenSujeto">
                        <a href="{% url 'testSubjectDetail' testSubject.number %}"><img id="imagenSujeto" src="{{ testSubject.image }}" alt="{{ testSubject.name }}"></img></a>
                    </div>
                    <div id="descripcionSujeto">
                        <a id="linkSujeto" href = "{% url 'testSubjectDetail' testSubject.number %}">{{ testSubject.number }} - {{ testSubject.name }} {{ testSubject.surname }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
        {% endblock %}
    </body>
</html>