{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ testSubject.number}} - {{ testSubject.name }} {{testSubject.surname}}</title>
    </head>
    <body>
        {% block contenido %}
        <h2>{{ testSubject.name }} {{testSubject.surname}}</h2>
        <p>Número: {{ testSubject.number }}</p>
        <p>Fecha de nacimiento: {{testSubject.birthdate}}</p>
        <p>Lugar de nacimiento: {{testSubject.birthplace}}</p>
        <p>Formó parte en las siguientes pruebas:</p>
        <ul>
            {% for experiment in testSubject.experiments.all %}
                <li><a href="{% url 'experimentDetail' experiment.pk %}">{{ experiment.name }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <br>
        <a href = "{% url 'index' %}">Volver al inicio</a>
        {% endblock %}

    </body>    
</html>