{% extends "base.html" %}
        {% block contenido %}
        <h1>Sujetos de prueba:</h1>
        <div id="sujetos">
            {% for testSubject in testSubjects %}
                <div class="sujetoPrueba">
                    <div class="contenedorImagenSujeto">
                        <a href="{% url 'testSubjectDetail' testSubject.number %}"><img class="imagenSujeto" src="{{ testSubject.image }}" alt="{{ testSubject.name }}"></img></a>
                    </div>
                    <div class="descripcionSujeto">
                        <a class="linkSujeto" href = "{% url 'testSubjectDetail' testSubject.number %}">{{ testSubject.number }} - {{ testSubject.name }} {{ testSubject.surname }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
        {% endblock %}