{% extends "base.html" %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sujetos de prueba</title>
    </head>
    <body>
        {% block contenido %}
        <h1>Sujetos de prueba:</h1>
        <ul>
            {% for testSubject in testSubjects %}
            <li><a href = "{% url 'testSubjectDetail' testSubject.number %}">{{ testSubject.number }} - {{ testSubject.name }} {{ testSubject.surname }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <br>
        <a href = "{% url 'index' %}">Volver al inicio</a>
        {% endblock %}
    </body>
</html>